parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Pest\\\\PendingCalls\\\\TestCall\\|Pest\\\\Support\\\\HigherOrderTapProxy\\:\\:expect\\(\\)\\.$#"
			count: 3
			path: tests/ArchTest.php
